:root{
  --color-black: #000000;
  --color-white: #FFFFFF;
}

p, li, h1, h2, h3, button, input, label, option{
  font-family: "inter", sans-serif;
  font-size: 1rem;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

h2{
  font-size: 1.5rem;
  font-weight: bold;
}

h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

button{
  background-color: var(--color-black);
  color: var(--color-white);

  border: none;
  padding: 0.25rem 0.5rem;
}



#root{
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;

  width: 100vw;
  height: 100vh;

  background-image: url(./assets/grid.svg);
}



/* ADD CUSTOMER */

.add-customer{
  background-color: #9D947E;

  border-style: none none solid solid;
  border-width: 4px;
  border-color: #6D644B;

  width: max-content;
  height: max-content;
  padding: 1.5rem;

  filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.25));

  grid-column: 1;
  grid-row: 1;
  z-index: 1;
}

.add-customer form{
  margin-top: 1rem;

  display: flex;
  justify-content: space-between;
}

.add-customer select{
  background-color: #9D947E;
  border-width: 2px;
  border-color: var(--color-black);
}



/* BILL LIST */

.bill-list{
  background: #534A36;
  filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.25));

  border-style: none none none solid;
  border-width: 4px;
  border-color: #2F2610;
  
  padding: 1.5rem;
  margin-left: auto;
  overflow-y: scroll;
  width: max-content;

  grid-column: 3;
  grid-row: 2 / span 2;
  z-index: 1;
}

.bill-list ul{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


/* BILL */

.bill{
  width: 25rem;
  padding: 1rem;

  background-color: #FFFCD3;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.bill__head{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bill__head div{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.bill__head p{
  font-style: italic;
}

.bill__head button{
  color: #FFFCD3;
}

.bill__list{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.bill__list li, .bill__total{
  display: flex;
  justify-content: space-between;
}

.bill__total p{
  font-size: 1.25rem;
  font-weight: bold;
}



/* ORDER LIST */

.order-list{
  background-color: #6D644B;
  border-style: none solid solid solid;
  border-width: 4px;
  border-color: #544C38;

  display: grid;
  overflow: hidden;
  height: max-content;

  grid-column: 2;
  grid-row: 1 / span 2;
  z-index: 3;
}

.order-list__beam, .order-list__list{
  grid-column: 1;
  grid-row: 1;
}

.order-list__beam{
  height: 1.5rem;
  width: 100%;
  background-color: #D9D9D9;
  margin-top: 2.5rem;
}

.order-list__list{
  margin: 1.5rem;

  display: flex;
  gap: 1.25rem;
}



/* ORDER */

.order{
  background-color: var(--color-white);
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25));

  padding: 1rem;
  width: 9.5rem;
  height: 10rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.order__head{
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 0.75rem;
}

.order__list{
  margin-left: 0.5rem;

  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.order button{
  place-self: end;
}



/* TABLE LIST */

.table-list{
  grid-column: 1 / span 2;
  grid-row: 2;

  place-self: center;
  z-index: 0;
}

.table-list__list{
  display: flex;
  gap: 2rem;
}



/* TABLE */

.table{
  background-color: #8D846A;
  width: max-content;

  border-style: solid;
  border-color: #8D846A;
  border-width: 4px;

  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25));

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.table__head{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: 0.25rem 0;
}

.table__content{
  width: 10rem;
  padding: 0.75rem 0.5rem;
  background-color: #8bb5e4;
}

.table__info{
  font-weight: bold;
  text-align: center;
  width: 10rem;
  height: 10.75rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.table__form{
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.table__form div{
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}

.table__form input{
  width: 2rem;
  background-color: #8bb5e4;
  border: var(--color-black) 1px solid;
}

.table__form button{
  place-self: end;
}



/* TOTAL EARNED */

.total-earned{
  color: #06B500;
  font-weight: bold;
  background-color: var(--color-black);

  border-style: solid;
  border-color: #7A7A7A;
  border-width: 4px;
  border-radius: 0.5rem;

  width: max-content;
  height: max-content;
  padding: 0.5rem;

  grid-column: 1;
  grid-row: 3;
  z-index: 2;
}



/* TOTAL SERVED */

.total-served{
  color: #06B500;
  background-color: var(--color-black);

  border-style: solid;
  border-color: #7A7A7A;
  border-width: 4px;
  border-radius: 0.5rem;

  width: max-content;
  height: max-content;
  padding: 2rem;

  grid-column: 3;
  grid-row: 1;
  z-index: 2;

  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25));
}

.total-served h2{
  margin-bottom: 0.75rem;
}

.total-served ul{
  display: flex;
  gap: 1.5rem;
}



/* PRODUCT LIST */

.product-list, .product-list ul{
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}